.divLanguage {
  position: absolute;
  top: 5px;
  right: 5px;
}
.btnLanguage {
  cursor: pointer;
  margin-right: 5px;
}
.btnActif {
  border: 2px;
}

@media screen and (max-width: 900px) {
  .divLanguage {
    top: 2px;
    right: 2px;
  }
  .btnLanguage {
    margin-right: 2px;
  }
}
