.body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: -webkit-fill-available;
  min-height: -webkit-fill-available;
  text-align: center;
  color: #595959;
  background-color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
