.thumbnail {
  width: 300px;
  max-width: 40%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  display: inline-grid;
  cursor: pointer;
}

.thumbnailTitle {
  color: #595959;
  padding: 18px;
  font-size: 20px;
}

.thumbnailImg {
  width: 100%;
}

.thumbnailImgLoading {
  opacity: 0.2;
}

.thumbnailImgLoader {
  position: absolute;
  width: 100px;
  margin-left: 100px;
  margin-top: 50px;
}

/*
.downloadFormat {
  position: absolute;
  background-color: #f3f3f3ed;
  border: 1px solid #f3f3f3ed;
  color: #595959;
  font-size: 20px;
  margin-left: 0.5em;
  padding: 0.25em;
  padding-top: 0.5em;
  padding-bottom: 0em;
}
*/
